<footer class="py-2 border-top border-gray-800" id="tc-footer">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="logos col-sm-6">
                <div class="row">
                    <!-- <div class="fews-logos col-md-auto mb-xs-4">
                        <div class="fews-logo">
                            <a class="navbar-brand" href="https://fews.net" target="_blank">
                                <img src="{{ url_for('static', path='img/fewsnet/fewsnet_logo_white.svg') }}" alt="" >
                            </a>
                        </div>
                    </div> -->
                    <div class="cgiar-logos">
                        <a class="navbar-brand" href="https://climatesecurity.cgiar.org" target="_blank">
                            <img src="{{ url_for('static', path='img/fewsnet/Focus_White.svg') }}" alt="">
                        </a>
                        <a class="navbar-brand" href="https://www.cgiar.org/" target="_blank">
                            <img src="{{ url_for('static', path='img/fewsnet/Fragility-conflict-and-migration-logo-03.svg') }}" alt="">
                        </a>
                        <a class="navbar-brand" href="https://www.cgiar.org/" target="_blank">
                            <img src="{{ url_for('static', path='img/fewsnet/initiative-climate-resilience-03.svg') }}" alt="">
                        </a> 
                    </div>
                </div>
            </div>
            <div class="policy col-sm-6 d-flex">
                <div class="d-flex justify-content-center align-items-center w-100">
                    <div class="how-to-cite">
                        <div>
                            How to cite:
                        </div>
                        <div>
                            Ruscica G., Tucci G., Carneiro B., 2023
                        </div>
                        <div>
                            TeleCatch. GitHub.
                        </div>
                        <div>
                            https://github.com/labaffa/telecatch
                        </div>
                    </div>
                </div>
            
                <div class="d-flex flex-row text-center justify-content-end">
                        <a href="https://help.fews.net/fdp/privacy-policy" class="text-white p-4 fews-hyperlink" target="_blank">Privacy
                            Policy</a>
                        <a href="https://help.fews.net/fdp/data-and-information-use-and-attribution-policy" class="text-white p-4 fews-hyperlink" target="_blank">Data Usage Policy</a>
                </div>
            </div>
        </div>
    </div>
</footer>