/*** COLORS ***/
@bg-color: #5e7c9a;
@txt-color: #FFFFFF;
@icn-color: #FFFFFF;

/*** DEMO ***/
html,body{height:100%;margin:0;}
body{background:@bg-color;font:13px monospace;color:@txt-color!important}p{margin-top:30px}
.cntr{
	display:table;
	width:100%;
	margin-top: 50px;
	margin-bottom: 50px;
	// height:100%;
	.cntr-innr, .cntr-limit, .cntr-submit {
		display: table-cell;
		text-align: center;
		vertical-align: middle;
		
	}
}

/*** STYLES ***/
.tg-button {
	display: inline-block;
	background: @icn-color;
	position: relative;
	height: 35px;
	box-sizing: border-box;
	margin: 0px 8px 7px 0px;
	padding: 7px 9px 0px 9px;
	border: 3px solid @icn-color;
	margin-right: 0px;
	border-radius: 0;
	font:13px monospace;
}

.limit {
	display: inline-block;
	position: relative;
	height: 35px;
	box-sizing: border-box;
	margin: 0px 8px 7px 0px;
	padding: 7px 9px 0px 9px;
	border: 3px solid @icn-color;
	transition: all 200ms ease;
	cursor: text;
	width: 100px;
	margin-right: 0px;
	border-radius: 0;
	input {
		width: 100%;
		border: none;
		box-sizing: border-box;
		font-family: Helvetica;
		font-size: 15px;
		color: inherit;
		background: transparent;
		outline-width: 0px;
	}
}

.search {
	display: inline-block;
	position: relative;
	height: 35px;
	//width: 35px;
	
	box-sizing: border-box;
	margin: 0px 8px 7px 0px;
	padding: 7px 9px 0px 9px;
	border: 3px solid @icn-color;
	border-radius: 25px;
	transition: all 200ms ease;
	cursor: text;
	width: 200px;
	margin-right: 0px;
	border-radius: 0;
	/* &:after {
		content: "";
		position: absolute;
		width: 3px;
		height: 20px;
		right: -5px;
		top: 21px;
		background: @icn-color;
		border-radius: 3px;
		transform: rotate(-45deg);
		transition: all 200ms ease;
	}
	
	&.active,
	&:hover {
		width: 200px;
		margin-right: 0px;
		border-radius: 0;
		&:after {
			height: 0px;	
		}
	} */
	
	input {
		width: 100%;
		border: none;
		box-sizing: border-box;
		font-family: Helvetica;
		font-size: 15px;
		color: inherit;
		background: transparent;
		outline-width: 0px;
	}
}

.results{
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	box-sizing: border-box;
	
	.tg-messages {
		width: 100%;
		border-collapse: collapse;
		margin-bottom: 20px;
	}
	table, th, td {
		border: 1px solid white;
	  }
	th, td {
		padding: 10px;
		max-width: 200px;
		max-height: 50px!important;
		overflow: auto;
		//white-space: nowrap;
	
	}
	th:nth-child(1), td:nth-child(1) {
		width: 15%;
	  }
	  
	  th:nth-child(2), td:nth-child(2) {
		width: 60%;
	  }

	  
	  th:nth-child(3), td:nth-child(3) {
		width: 25%;
	  }
}


.loader {
	width: 48px;
	height: 48px;
	display: inline-block;
	position: relative;
	color: #FFF;
	border: 1px solid;
	box-sizing: border-box;
	animation: fill 2s linear infinite alternate;
  }
  
  @keyframes fill {
	0% {
	  box-shadow: 0 0  inset;
	}
	100% {
	  box-shadow: 0 -48px inset;
	}
  }
	  

/* .container {
	display: flex;
	justify-content: center; 
	align-items: center; 

} */

  .centered {
	text-align: center; /* Allinea il testo all'interno dello span al centro */
  }

.cntr, .monitor  {
	flex: 1;
	display: flex;
}

label {
	display: block;
}

.cntr-box, .cntr-ele, .info-badge{
	padding: 10px;
}

.d-flex {
	display: flex;
}

.nowrap {
	flex-wrap: nowrap;
}

.flex-column {
	flex-direction: column;
}


.control {
	flex: 2;
	border: 1px solid #FFFFFF;
}

.monitor {
	flex: 1;
	border: 1px solid #FFFFFF;
	justify-content: space-around;
	
	select {
		min-height: 30px;
	}
}

select {
	max-width: 250px;
	
}

.actions {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 40px;
	
}

.cloche {
	padding: 20px;
}

.inputs {
	display: flex;
	justify-content: space-between;
}

.search-box {
	margin: 30px;
	padding: 20px;
}

.cntr-export {
	padding: 20px;
}

.justify-content-center{
	justify-content: center;
}

#timeline-chart {
	width: 70vw;
	min-height: 200px;
	max-height: 450px;
	flex: 1;
	
}

.svg-container {
    display: inline-block;
    position: relative;
    //min-width: 10%;
	//height: 100%;
    //padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
	//height: 100%!important;
	flex: 2;
}
	.svg-container svg{
		//max-width: 30vw;
		height: 100%;
		
	}

.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

.tab-section {
	flex: 1.7;
}


.align-center {
    align-items: center;
}

.justify-center {
	justify-content: center;
}