<!doctype html>
<html>

    <!-- HEAD -->
    <head>
        <title>TeleDash</title> <!-- may want to replace with jinja variable pulled through? -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
        <link rel="stylesheet/less" type="text/css" href="{{ url_for('static', path='/css/style.less') }}">
        <link rel="stylesheet/less" type="text/css" href="{{ url_for('static', path='/css/navbar.css') }}">
        <link rel="stylesheet/less" type="text/css" href="{{ url_for('static', path='/css/clients.css') }}">
        <script src="https://cdn.jsdelivr.net/npm/less" ></script>
        <!-- Specify body min-height to fill the page if not full already -->
        <style>
            body {
                height: 100vh;
                height: -webkit-fill-available;
                margin: 0;
            }
        </style>
    </head>

<body class="d-flex flex-column">
    {% include "explorer/navbar.html" %}
    <div class="d-flex justify-content-center">
        <div id="clients-list" class="container bordered padded">
            <h3>List of registered phone numbers</h3>
            <ul>
                {% for client in clients %}
                    <li> {{client.phone}}</li>
                {% endfor %}
            </ul>
        </div>
        <div id="client-form-container" class="container bordered padded">
            <form id="clientForm" >
                <h3>Register Telegram Account</h3>
                <p id="clientStatus"></p>
                <div class="field-wrap">
                    <label>
                        Phone (international format):
                    </label>
                    <input name='phone' type='text' placeholder='+34600000000'>
                </div>
                <div class="field-wrap">
                    <label>
                        API ID:
                    </label>
                    <input name='api_id' type='text' placeholder='123456'>
                </div>
                <div class="field-wrap">
                    <label>
                        API hash:
                    </label>
                    <input name='api_hash' type='text' placeholder='123456'>
                </div>
            </form>
            <button id="clientSubmit" type="submit" class="button button-block"/>Register account</button>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="{{ url_for('static', path='/js/clients.js').include_query_params(version='3') }}"></script>
</body>
</html>