<!doctype html>
<html>
    <!-- HEAD -->
    <head>
        <title>TeleDash</title> <!-- may want to replace with jinja variable pulled through? -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
        <link href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.css" rel="stylesheet"/>
        <link rel="stylesheet/less" type="text/css" href="{{ url_for('static', path='/css/style.less') }}">
        <link rel="stylesheet/less" type="text/css" href="{{ url_for('static', path='/css/channels.css') }}">
        <link rel="stylesheet/less" type="text/css" href="{{ url_for('static', path='/css/navbar.css') }}">
        <script src="https://cdn.jsdelivr.net/npm/less" ></script>
        <!-- Specify body min-height to fill the page if not full already -->
        <style>
            body {
                height: 100vh;
                height: -webkit-fill-available;
                margin: 0;
            }
        </style>
    </head>

    <body class="d-flex flex-column">
        {% include "explorer/navbar.html" %}
        <div class="d-flex justify-center align-center">
            <div id="root" class="d-flex">
                
                    
                    <!-- <div id="channels">
                        <label for="channel-urls"> Available channels: </label>
                        <select name="channel-urls" id="channel-urls">

                        </select>
                    </div> -->
                    <!-- <div id="jobs">
                        <label for="jobs-queue"> Jobs in queue: </label>
                        <select name="jobs-queue" id="jobs-queue"></select>
                    </div> -->
                    <div style="flex: 1 1 0%; overflow: auto;">
                        <table id="results-table" class="display" cellspacing="0" width="100%">
                        </table>
                    </div>
                    <div id="cloche" class="border-light-1">
                        <div id="collections" class="d-flex padded-15 border-light-1">
                            <div class="d-flex flex-column">
                                <label for="collection-titles"> Collections: </label>
                                <select name="collection-titles" id="collection-titles">
    
                                </select>
                                <button id="submit-active-collection"> Set Active</button>
                            </div>
                            <div>
                                Active collection: <br><span id="active-collection"></span>
                            </div>
                        </div>
    
                        <div class="center padded-15">
                                
                            <div style="text-align: center;">
                                <form  id="file-table-form" enctype="multipart/form-data">
                                    <label for="file">Upload file to create a new collection</label>
                                    <input id="file" name="file" type="file" />
                            
                                    <button id="file-table-submit" class="ellipsis btn-style">
                                        Upload
                                    </button>
                                    
                                </form>
                                <div id="collection">
                                    <form  id="collection-form" enctype="multipart/form-data">
                                        <label for="collection-title">Title of collection</label>
                                        <input id="collection-title" name="collection-title" type="text" />

                                        <!-- <label for="collection-tags">Associated tags</label>
                                        <textarea id="collection-tags" name="collection-tags"></textarea>     -->
                                    </form>
                                    <button id="collection-submit" class="ellipsis btn-style">
                                        Save collection
                                    </button>
                                    <div id="collection-status">

                                    </div>
                                

                                </div>
                            </div>
                            
                        </div>
                    </div>
                
                
            </div>
        </div>
        <script>
            var activeClient = JSON.parse('{{active_client|tojson}}');
            var activeCollection = JSON.parse('{{active_collection|tojson}}');
        </script>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
        <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.js"></script>
        <script src="{{ url_for('static', path='/js/channels.js' ) }}"></script>
    </body>
</html>